<div class="row col-sm-8">
<div class="row backAriere " >
      <div class="margin">
        <h2 class="mb-none"><strong>{{post.title}}</strong></h2>
      </div>
        <hr class="solid">
  <div class="row">
  <table class="margin">
    <tr>
      <td>Description :</td>
      <td>{{post.description}}</td>
    </tr>
    <tr>
      <td>Nombre likes :</td>
      <td>{{post.nombreLike}}</td>
    </tr>
  </table>
  </div>

  </div>
<div class="row">
  <button class="btn btn-primary topbtn" (click)="onBack()">Retour</button>
</div>
</div>

