<div class="row">
  <div class="col-sm-offset-2 col-sm-8 backAriere">
    <h3>Creer un compte</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
      <div class="form-group">
        <label for="email"></label>
        <input type="text" class="form-control" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password"></label>
        <input type="password" class="form-control" id="password" formControlName="password">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="signUpForm.invalid"> creer un compte </button>
    </form>
    <p class="text-danger">{{errorMessage}}</p>
  </div>
</div>
